@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  } 

  .details-blur::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(118, 161, 255, 0.29) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(2);
    pointer-events: none;
  }

  .background-blur::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.3) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(3);
  }
}

.blur-effect::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(23, 24, 28, 1)); /* Use the background color of the items */
}

.sponsor-logo {
  display: block;
  max-height: 100%;
  width: auto;
  object-fit: contain;
}